<!DOCTYPE html>
<meta charset="utf-8">
<style>

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.cell {
  fill: none;
  stroke: grey;
}
#chart {
        display: inline-block;
        float: left;
      }

      #chartDetail {
        display: inline-block;
        float: right;
      }
.p.letters {
    word-wrap: break-word;
     width:auto;
     white-space:normal
}
</style>
<body>
<input id="checkGroupInABox" type="checkbox">Group in a Box</input>
<input id="checkShowTreemap" type="checkbox">Show Template</input>
  <select id="selectTemplate" type="select">
    <option value="treemap">Treemap</option>
    <option value="force">Force</option>
  </select>
      <div id='container'>

        <div id = "chart">
        </div>
<div id = "chartDetail">
              <p style="color:#709410;font-size:105%"; word-wrap="break-word";
     width="auto";-ms-word-break="break-all";-webkit-hyphens="auto";
       -moz-hyphens="auto";
        -ms-hyphens="auto";
            hyphens="auto";
     white-space="normal";word-break="break-all"; align="center">xxxxxxxxxx</p>
              
              <p style="font-size:65%""font-weight:bold">name</p>
              <p id='name' style="font-size:65%"; align="left";>Details</p>
              <p style="font-size:65%" "align:left" "font-weight:bold">type</p>
              <p id='type' style="font-size:65%"; align="left">Details</p>
              <p style="font-size:65%" "align:left" "font-weight:bold">statisticalOperations</p>
              <p id='statisticalOperations' style="font-size:65%"; align="left">Details</p>
              <p style="font-size:65%" "align:left" "font-weight:bold">objective</p>
              <p id='objective' style="font-size:65%"; align="left">Details</p>
              <p style="font-size:65%" "align:left" "font-weight:bold">unityObservation</p>
              <p id='unityObservation' style="font-size:65%"; align="left">Details</p>
              <p style="font-size:65%" "align:left" "font-weight:bold">entitiesUsing</p>
              <p id='entitiesUsing' style="font-size:65%"; align="left">Details</p>
              <p style="font-size:65%" "align:left" "font-weight:bold">variables</p>
              <p id='variables' style="font-size:65%"; align="left">Details</p>
              <p style="font-size:65%"; align="left">daneDependency</p>
              <p id='daneDependency' style="font-size:65%"; align="left">Details</p>
              <p style="font-size:65%"; align="left">thematic</p>
              <p id='thematic' style="font-size:65%"; align="left">Details</p>
              <p style="font-size:65%"; align="left">thematic2</p>
              <p id='thematic2' style="font-size:65%"; align="left">Details</p>
              <p style="font-size:65%"; align="left">thematicShared</p>
              <p id='thematicShared' style="font-size:65%"; align="left">Details</p>
              <p style="font-size:65%"; align="left">entityProducing</p>
              <p id='entityProducing' style="font-size:65%"; align="left">Details</p>
              <p style="font-size:65%"; align="left">periodicity</p>
              <p id='periodicity' style="font-size:65%"; align="left">Details</p>
              <p style="font-size:65%"; align="left">geographicZone</p>
              <p id='geographicZone' style="font-size:65%"; align="left">Details</p>
              <p style="font-size:65%"; align="left">geographicDivision</p>
              <p id='geographicDivision' style="font-size:65%"; align="left">Details</p>
              <p style="font-size:65%"; align="left">indicators</p>
              <p id='indicators' style="font-size:65%"; align="left">Details</p>
              <p style="font-size:65%"; align="left">methodologyOOEE</p>
              <p id='methodologyOOEE' style="font-size:65%"; align="left">Details</p>
        </div>
</div>
<script src="//d3js.org/d3.v4.js"></script>
<script type="text/javascript" src="https://raw.githubusercontent.com/pierreraimbaud/DANEColombiaStatisticOperationsAdminRegisters/master/_layouts/forceInABox.js"></script>
<script>
  var width = 1000,
    height = 600;

/* global d3, forceInABox */
var svg2 = d3.select("#chartDetail").
        append("svg")
    .attr("width", 250)
    .attr("height", height);

var useGroupInABox = true,
  drawTemplate = true,
  template = "treemap";

d3.select("#checkGroupInABox").property("checked", useGroupInABox);
d3.select("#checkShowTreemap").property("checked", drawTemplate);
d3.select("#selectTemplate").property("value", template);



var color = d3.scaleOrdinal(d3.schemeCategory20);

var force = d3.forceSimulation()
    .force("charge", d3.forceManyBody())
    .force("x", d3.forceX(width/2).strength(0.30))
    .force("y", d3.forceY(height/2).strength(0.30));

var svg = d3.select("#chart")
          .append("svg")
    .attr("width", width)
    .attr("height", height);

d3.json("https://raw.githubusercontent.com/pierreraimbaud/DANEColombiaStatisticOperationsAdminRegisters/master/data/data.json", function(error, graph) {
  var groupingForce = forceInABox()
          .strength(0.1) // Strength to foci
          .template(template) // Either treemap or force
          .groupBy("group") // Node attribute to group
          .links(graph.links) // The graph links. Must be called after setting the grouping attribute
          .enableGrouping(useGroupInABox)
          .nodeSize(5) // How big are the nodes to compute the force template
          .forceCharge(-200) // Separation between nodes on the force template
          .size([width, height]) // Size of the chart
  force
      .nodes(graph.nodes)
      .force("group", groupingForce)
      .force('collision',d3.forceCollide().radius(function(d) { 
              return 12; }))
      .force("link", d3.forceLink(graph.links)
        .distance(80)
        .strength(groupingForce.getLinkStrength)
      );

  force.force("group").drawTemplate(svg);

// Set up dictionary of neighbors
var node2neighbors = {};
for (var i =0; i < graph.nodes.length; i++){
  var id = graph.nodes[i].name;
  node2neighbors[id] = graph.links.filter(function(d){
      return d.source.name == name || d.target.name == name;
    }).map(function(d){
      return d.source.name == name ? d.target.name : d.source.name;
    });
}

  var link = svg.selectAll(".link")
      .data(graph.links)
    .enter().append("line")
      .attr("class", function(d){ return ["link", d.source.id, d.target.id].join(" "); })
     // .style("opacity", 0)
      .style("stroke-width", function(d) { return Math.sqrt(d.value); });

  var node = svg.selectAll(".node")
      .data(graph.nodes)
    .enter().append("circle")
      .attr("class", "node")
      .attr("id", function(n){ return n.name; })
    //  .style("visibility",function (d) { 
      //        return d.main ==="true" ? true : "hidden";
        //    })
        .style("stroke-width", function(d) { return d.type ==="RRAA" ? 2 : 0; })
                .style("stroke", function(d) { return d.type ==="RRAA" ? "black":""; })
      .attr("r", function (d) { 
              return d.main ==="false" ? 5 : 10;
            })
      .style("fill", function(d) { return color(d.group); })
      .on("click", function(n){
        d3.select("#name").text(n.name);
        d3.select("#type").text(n.type);
        d3.select("#statisticalOperations").text(n.statisticalOperations);
        d3.select("#objective").text(n.objective);
        d3.select("#unityObservation").text(n.unityObservation);
        d3.select("#entitiesUsing").text(n.entitiesUsing);
        d3.select("#variables").text(n.variables);
        d3.select("#daneDependency").text(n.daneDependency);
        d3.select("#thematic").text(n.thematic);
        d3.select("#thematic2").text(n.thematic2);
        d3.select("#thematicShared").text(n.thematicShared);
        d3.select("#entityProducing").text(n.entityProducing);
        d3.select("#periodicity").text(n.periodicity);
        d3.select("#geographicZone").text(n.geographicZone);
        d3.select("#geographicDivision").text(n.geographicDivision);
        d3.select("#indicators").text(n.indicators);
        d3.select("#methodologyOOEE").text(n.methodologyOOEE);

          // Determine if current node's neighbors and their links are visible
       /* var active   = n.active ? false : true // toggle whether node is active
        , newOpacity = 1;

        // Extract node's name and the names of its neighbors
        var id     = n.name
        , neighbors  = node2neighbors[id];

        // Hide the neighbors and their links
        for (var i = 0; i < neighbors.length; i++){
            d3.selectAll("circle#\\" + neighbors[i]).style("visibility", true);
            d3.selectAll("line.\\" + neighbors[i]).style("opacity", newOpacity);
        }
        // Update whether or not the node is active
        n.active = active;
    */
      })
      .call(d3.drag()
                .on("start", dragstarted)
                .on("drag", dragged)
                .on("end", dragended));

const label = svg.selectAll("label")
            .data(graph.nodes)
            .enter()
            .append("text")
            .text(function (d) { 
      //!isSvg1 ? d.groups : (d.main ==="true" ? (!isSvg1 ? d.groups : d.group):"") })
                return d.main ==="true" ? d.name :""})//(getStrongestGroupForANode (d, d.groups))[0]}) //d.group})//
            .style("fill", "#2B1513")
            .style("font-weight", d=>d.main ==="true" ? "bold" : "normal")
            .attr("x", d =>d.x)
            .attr("y",d => d.y)
            .style("font-family", "Arial")
            .style("font-size", d=>d.main ==="true" ? 10: 7);

  node.append("title")
      .text(function(d) { return d.name; });

  force.on("tick", function() {
    //link.attr("x1", function(d) { return d.source.x; })
      ///   .attr("y1", function(d) { return d.source.y; })
        // .attr("x2", function(d) { return d.target.x; })
         //.attr("y2", function(d) { return d.target.y; });
label .attr("x", d => d.x)
              .attr("y", d => d.y);
    node.attr("cx", function(d) { return d.x = Math.max(7, Math.min(width - 7, d.x)); })
        .attr("cy", function(d) { return d.y = Math.max(7, Math.min(height - 7, d.y)); });
  });

  d3.select("#checkGroupInABox").on("change", function () {
    force.stop();
    useGroupInABox = d3.select("#checkGroupInABox").property("checked");
    force
        // .force("link", d3.forceLink(graph.links).distance(50).strength(
        // function (l) { return !useGroupInABox? 0.7 :
        //     l.source.group!==l.target.group ? 0 : 0.1;
        // }))
        .force("group").enableGrouping(useGroupInABox)

    force.alphaTarget(0.5).restart();
  });

  d3.select("#selectTemplate").on("change", function () {
    template = d3.select("#selectTemplate").property("value");
    force.stop();
    force.force("group").template(template);
    force.alphaTarget(0.5).restart();
  });

  d3.select("#checkShowTreemap").on("change", function () {
    drawTemplate = d3.select("#checkShowTreemap").property("checked");
    if (drawTemplate) {
      force.force("group").drawTemplate(svg);
    } else {
      force.force("group").deleteTemplate(svg);
    }
  });
});

function dragstarted(d) {
    if (!d3.event.active) force.alphaTarget(0.3).restart();
    d.fx = d.x;
    d.fy = d.y;
}

function dragged(d) {
    d.fx = d3.event.x;
    d.fy = d3.event.y;
}

function dragended(d) {
    if (!d3.event.active) force.alphaTarget(0);
    d.fx = null;
    d.fy = null;
}

</script>
